body{
    margin: 0;
    padding: 0;
    background: #696D7D;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* container class */
.container{
    position: absolute;
    /* background-color: 1px solid #fff; */
    /* border: 1px solid white; */
    width: 50%;
    height: auto;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    background: none;
}

/* Input classs  */

.input{
    overflow: hidden;
    box-sizing: border-box;
}
.input input[type = "text"]{
    background: none;
    /* box-shadow: 1px 2px 30px rgba(0,0,0,0.5); */
    padding-left: 5%;
    color: black;
    width: 70%;
    line-height: 1em;
    /* margin-right: 1px; */
    font-size: 1.2em;
    outline: none;
    border-radius: 5px 5px 5px 0;
    border: none;
}

.input button{
    cursor: pointer;
    display: right;
    /* position: absolute; */
    border: none;
    outline: none;
    width: 22%;
    margin-bottom: 2px;
    background-color:#333;
    color: #fff;
    font-size: 1.3em;
    margin-left: 5px;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.5);
    height: 50px;
}


/* For responsive layout  */
@media only screen and (max-width:600px){
    .input{
        width: calc(100vw - 20px);
        position: absolute;
        bottom: 0;
        left: 0;
        /* border: 1px solid white; */
        transform: translate(0%,0%);
    }
    .input button{
        width: 20%;
        display: right;
    }

    #button{
        text-align: center;
    }
    .container{
        width: calc(100vw - 20px);
        bottom: 0;
        left: 0;
        transform: translate(2%,-5%);
    }
}